<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>barra2</title>
	<link rel="icon"type="imagen/png"href="img/LOGO1.jpg"/>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2021.css">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2017.css">
	<link rel="stylesheet" type="text/css" href="css/encabezadoestilos.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2021.css">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2017.css">
	<link rel="stylesheet" type="text/css" href="css/encabezadoestilos.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-win8.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
<link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet'>

</head>
<body>
	<a href="bienvenida2.html" target="_top">
	<div class="w3-center " style="background-color: lightgray; color: white;margin-right: 0px ;margin-left: 0px;border-color: lightgray; border-style: solid; border-top-width: 6px;border-bottom-width: 6px;font-family: 'Rubik';">
	  <div class="w3-dropdown-hover">
	  <button class="w3-button w3-2017-greenery w3-hover-light-green w3-border-white w3-round-large" style="background-color:#8EBC5A; margin-right: 50px; width: 200px;color: black;">&#127968; Inicio</button> </a>
	</div>
<a href="#">
	<div class="w3-dropdown-hover">
	  <a href="MISPEDIDOS.html" target="_top"><button class="w3-button w3-hover-lime w3-border-white w3-round-large"style="margin-right: 50px;color: black;">&#127857; MIS PEDIDOS</button> </a>
	  
	</div>
	<a href="InterfazClienteDomiciliosCR.html" target="_top">
	<div class="w3-dropdown-hover">
	  <button class="w3-button w3-hover-lime w3-border-white w3-round-large " style="margin-right: 50px;color: black">&#128214; Menu</button></a>

	 
	 
	</div>
	<div class="w3-dropdown-hover">
	  <a href="RegistrarpedidoDOMI.html" target="_top" class="w3-button w3-hover-lime w3-border-white w3-round-large " style="margin-right: 50px;color: black">&#127949; Domicilios</a>
	</div>

	  
	  <a href="MIPERFIL.html " class="w3-bar-item w3-button w3-righ w3-hover-lime w3-border-white w3-round-large" style="background-color: #8EBC5A; width: 200px;color: black;" target="_top">&#128587; Mi Perfil</a>
	</div>

</body>
</html>