<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bienvenida</title>
	<link rel="icon"type="imagen/png"href="img/pixlr-bg-result.png"/>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2021.css">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2017.css">
	<link rel="stylesheet" type="text/css" href="css/encabezadoestilos.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2021.css">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2017.css">
	<link rel="stylesheet" type="text/css" href="css/encabezadoestilos.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-win8.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
<link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet'>
</head>
<body>
	<iframe class="encabezado" src="encabezado.html"style="width: 100%; height:150px; display:block;" frameborder=0></iframe>
	<iframe class="barra" src="BARRA2.html"style="width: 100%; height: 52px; display: block;" frameborder=0 ></iframe>
	<div class="w3-container  w3-center"style="width:100%; height: 330px;background-color: lightgoldenrodyellow;font-family: 'Rubik';">
  <p class="" style="text-shadow:1px 1px 5px white;font-size: 40px;">&#127811;BIENVENIDO!&#127811;</p>
  <p class="w3-panel w3-round-medium" style="background-color:#FFBC50;text-shadow:1px 1px 5px white; font-size: 20px;">Restaurante ubicado en el barrio Venecia al sur de Bogotá, 
  caracterizado por la buena atención a sus visitantes y su gran variedad de platos nacionales como extrangeros</p>
</div>
<div class="w3-container" style="width:100%;height: 100%;background-color:#8EBC5A;border-top-style: solid; border-color: lightgray; border-top-width: 10px; border-bottom-color: lightgray; border-bottom-style: solid;border-bottom-width: 10px ;">
	
	
		
		<p class=" w3.w3-center" style="font-size: 30px;text-align: center;font-family: 'Rubik';text-shadow:1px 1px 5px white;">GRAN VARIEDAD DE COMIDA</p>

	<div class="w3-container w3-center"style="width:100%;height: 100px;background-color:#8EBC5A;font-family: 'Rubik';font-size: 35px;text-shadow:1px 1px 5px white;"><table class="w3-table w3-center">
			<tr>
				<th class="w3-center">COMIDA NUMERO 1</th>
				<th class="w3-center">COMIDA NUMERO 2</th>
				<th class="w3-center">COMIDA NUMERO 3</th>
			</tr>
		</table></div>
			
			<video  controls style="border-width: 5px ;border-color: black;border-style: solid;margin-left: 14%;width: 210; height:330px"autoplay>
            <source src="img/123456.mp4" type="video/mp4"> 
            </video>

            <video  controls style="border-width: 5px ;border-color: black;border-style: solid;margin-left: 14%;width: 210; height:330px" autoplay>
            <source src="img/12345.mp4" type="video/mp4">
            </video>

            <video  controls style="border-width: 5px ;border-color: black;border-style: solid;margin-left: 14%;width: 210; height:330px"autoplay>
            <source src="img/1234567.mp4" type="video/mp4">
            </video>
		</br></br></br>

</div>
<iframe class="footerp" src="foteroregano.html"style="width: 100%; height:150px;line-height: 0px; display:block" frameborder=0></iframe>

</body>
</html>