<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Detalle_Ventas</title>
	<link rel="stylesheet" type="text/css" href="css/ventas.css">
	<link rel="icon"type="imagen/png"href="img/pixlr-bg-result.png"/>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2021.css">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2017.css">
	<link rel="stylesheet" type="text/css" href="css/encabezadoestilos.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2021.css">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2017.css">
	<link rel="stylesheet" type="text/css" href="css/encabezadoestilos.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-win8.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet'>
</head>
<body style="background: lightgoldenrodyellow">
	<iframe class="encabezado" src="encabezado.html"style="width: 100%; height:150px; display:block;" frameborder=0></iframe>
	<iframe class="barra" src="BARRAMESERO.html"style="width: 100%; height:51px; display: block;" frameborder=0 ></iframe>

<div	class="w3-container ventas" style="font-family: 'Rubik';">

	<div class="w3-quarter">
		<div class="w3-panel w3-amber w3-margin  w3-round"style="width: 50%; height:30px">
		<div class=" w3-center fa fa-calendar"style="margin-top:7px;">Jueves 7, Abril</div>
		</div>
	<div class="w3-row menupedidos">

		<div class="w3-black w3-bar-block " style="font-family:'Rubik'" >
  		<a href="RegistrarpedidoMESERO.html" class="w3-bar-item w3-button  w3-wide w3-hover-teal w3-hover-text-orange" ><b>Nuevo pedido</b></a>
  		<a href="PedidosMESERO.html" class="w3-bar-item w3-button w3-hover-text-orange w3-wide w3-hover-teal"><b>Pedidos</b></a>
  		<a href="VentasMesero.html" class="w3-bar-item w3-button w3-hover-text-orange w3-wide w3-hover-teal
 	 	"><b>Ventas</b></a>
 	 	
		</div>
	</div>
	</div>

	<div class="w3-threequarter w3-margin-top " style="font-family:'Rubik'">
		<div class="w3-card-4 DetallePedido w3-white">

		<div class="header w3-container w3-black"><div class="w3-left">Detalle Pedido</div><div class="w3-right">ID 1001</div></div>
			<div class="w3-row">
			<table class="w3-table-all w3-margin-top w3-margin-bottom w3-animate-zoom">

				<tr class="w3-amber w3-bottombar w3-border-amber">
					<th>ID Menú</th>
  					<th>Menú</th>
  					<th class="w3-center">Cantidad</th>
  					<th class="w3-center">Precio u /$</th>
				</tr>

				<tr>
					<td>101</td>
  					<td>Ajiaco</td>
  					<td class="w3-center">2</td>
  					<td class="w3-center">10.000</td>
				</tr>

				<tr>
					<td>201</td>
  					<td>CocaCola 1.25 l</td>
  					<td class="w3-center">2</td>
  					<td class="w3-center">2.000</td>
				</tr>
			</table>
			</div>

		</div>	

		<div class="w3-card-4 DetalleVenta w3-white w3-margin-top w3-margin-bottom">

		<div class="header w3-container w3-black">Detalle Venta</div>
		<div class=" w3-half">
		<div class="w3-panel w3-margin w3-round-large"style="background-color: #F2F3F4">
			<h5 style="font-family:Rubik">Cliente</h5>
			<div class="w3-panel  w3-round"style="background-color: #D5DBDB; width:100%">Nombre: ...</div>
			<div class="w3-panel w3-round"style="background-color: #D5DBDB; width:100%">Correo: ...@gmail.com</div>
		</div>
		</div>
		<div class=" w3-half">
		<div class="w3-panel w3-margin"style="background-color: #D5DBDB;">
			<div class="w3-panel  w3-round"style="background-color: #F2F3F4; width:100%">Total: 24.000</div>
			<div class="w3-panel w3-round"style="background-color: #F2F3F4; width:100%">Hora: 11:00 a.m</div>
			<div class="w3-panel w3-round"style="background-color: #F2F3F4; width:100%">Fecha: 07-04-2022</div>
		</div>
		</div>
		</div>	
		

		</div>	
</div>
<iframe class="footerp" src="foteroregano.html"style="width: 100%; height:150px;line-height: 0px; display:block" frameborder=0></iframe>

</body>
</html>