<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MESERO</title>
    <link rel="icon"type="imagen/png"href="img/pixlr-bg-result.png"/>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2021.css">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2017.css">
	<link rel="stylesheet" type="text/css" href="css/encabezadoestilos.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2021.css">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2017.css">
	<link rel="stylesheet" type="text/css" href="css/encabezadoestilos.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-win8.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
<link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <iframe class="barra" src="encabezado.html"style="width: 100%; height:150px; display: block;" frameborder=0 ></iframe>

    <iframe class="barra" src="BARRAMESERO.html"style="width: 100%; height:52px; display: block;" frameborder=0 ></iframe>

    <div class="w3-container w3-center" style="width: 100%; height: 100%;background-color:lightgoldenrodyellow;">

        <p style="font-family: 'Rubik'; font-size: 40px; text-shadow:1px 1px 5px #000000" >BIENVENIDO MESERO</p>

    <img src="img/mesero.png"  style="width:30%; height: 30%;;">

    </br>

</div>
    <iframe class="barra" src="foteroregano.html"style="width: 100%; height:150px; display: block;" frameborder=0 ></iframe>

</body>
</html>