<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Mis Pedidos</title>
	<link rel="icon"type="imagen/png"href="img/pixlr-bg-result.png"/>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2021.css">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2017.css">
	<link rel="stylesheet" type="text/css" href="css/encabezadoestilos.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2021.css">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2017.css">
	<link rel="stylesheet" type="text/css" href="css/encabezadoestilos.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-win8.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
<link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet'>
</head>
<body>

	<iframe class="encabezado" src="encabezado.html"style="width: 100%; height:150px; display:block;" frameborder=0></iframe>
	<iframe class="barra" src="BARRA2CR.html"style="width: 100%; height:51px; display: block;" frameborder=0 ></iframe>

	<div class="w3-container" style="width:100%;height:100%;background-color:lightgoldenrodyellow;">
		<div class="w3-container w3-left w3-round-large" style="width:32%; height:100%;background-color:#8EBC5A;margin: 10px"></br>
			<div>
			<img src="img/hamburguesa.jpeg" style="width: 280px; height:280px;margin:10px;border-style: solid;border-width: 5px;border-color: black;margin-left: 25px"><a style="font-size: 30px"></br>PEDIDO 1- FECHA: xx/xx/xxx</br>1.xxxxxxxxxx</br>2.xxxxxxxxxx</br>3.xxxxxxxxxx</a>
			</div>
		</div>
		<div class="w3-container w3-left w3-round-large" style="width:31%; height:100%;background-color:#8EBC5A;margin: 10px"></br>
			<div>
			<img src="img/COMIDA1.jpeg" style="width: 280px; height:280px;margin:10px;border-style: solid;border-width: 5px;border-color: black;margin-left: 25px;"><a style="font-size: 30px"></br>PEDIDO 2- FECHA: xx/xx/xxx</br>1.xxxxxxxxxx</br>2.xxxxxxxxxx</br>3.xxxxxxxxxx</a>
			</div>
		</div>
		<div class="w3-container w3-left w3-round-large" style="width:32%; height:100%;background-color:#8EBC5A;margin: 10px"></br>
			<div>
			<img src="img/bandiola.jpg" style="width: 280px; height:280px;margin:10px;border-style: solid;border-width: 5px;border-color: black;margin-left: 25px"><a style="font-size: 30px"></br>PEDIDO 3- FECHA: xx/xx/xxx</br>1.xxxxxxxxxx</br>2.xxxxxxxxxx</br>3.xxxxxxxxxx</a>
			</div>
		</div>
		

	</div>

<iframe class="footerp" src="foteroregano.html"style="width: 100%; height:150px;line-height: 0px; display:block" frameborder=0></iframe>
	
</body>
</html>