<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>MENUS</title>
	<link rel="icon"type="imagen/png"href="img/pixlr-bg-result.png"/>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2021.css">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2017.css">
	<link rel="stylesheet" type="text/css" href="css/encabezadoestilos.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2021.css">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2017.css">
	<link rel="stylesheet" type="text/css" href="css/encabezadoestilos.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-win8.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet'>
</head>
<body>
	<iframe class="encabezado" src="encabezado.html"style="width: 100%; height:150px; display:block;" frameborder=0></iframe>
	<iframe class="barra" src="BARRAJEFE.html"style="width: 100%; height:51px; display: block;" frameborder=0 ></iframe>


	<div class="w3-container w3-center " style="width: 100%; height: 760px; background: lightgoldenrodyellow; text-align: center; margin: 0px;font-family: 'Rubik';">

</br>
		<a style="font-size: 35px;text-shadow:1px 1px 5px #000000">PRODUCCIÓN</a> 
	</br>
	</br>
		<form>
			<label class="w3-left w3-animate-zoom" style="font-size: 28px;">NOMBRE PLATO</label>
			<input class="w3-left w3-animate-zoom"type="number" style="font-size: 24px" placeholder="Buscar">
			<button class="w3-button w3-left w3-animate-zoom" style="background-color:#8EBC5A;font-size: 16px;"> <i class="fa fa-search  w3-xlarge"style= ""></i>BUSCAR</button> 
			<a href="Agregarmenu.html" class="w3-button w3-hover-lime w3-right w3-animate-zoom" style="background-color: #8EBC5A;font-size: 16px;"><i class="fa fa-arrow-right w3-left w3-xlarge"style= ""></i>AGREGAR</a>
			<button class="w3-button w3-hover-lime w3-right w3-animate-zoom" style="background-color: #E54320;font-size: 16px"><i class="fa fa-close w3-left w3-xlarge"style= ""></i>ELIMINAR</button>
			<button class="w3-button w3-hover-lime w3-right w3-animate-zoom" style="background-color: orange;font-size: 16px"><i class="fa fa-refresh w3-left w3-xlarge"style= ""></i>EDITAR</button>
		</form>
	</br>
	</br>
</br>
		<table class="w3-table-all w3-large w3-striped w3-border w3-animate-zoom">
    <tr style="background: #8EBC5A;">
      <th style="text-align:center;">Codigo</th>
      <th style="text-align: center;">Nro Menu</th>
      <th style="text-align:center;">Descripcion</th>
      <th style="text-align: center;">Insumos Necesarios</th>
      <th style="text-align:center">Tiempo Aprox</th>
    </tr>
    <tr style="background: #E9F7EF;">
      <td style="text-align:center;">11111</td>
      <td style="text-align:center;">MENU 1</td>
      <td style="text-align:center;">xxx xxxx xxxxx xxxxx xxxxx xxxxx</td>
      <td style="text-align:center;">5 xxxx 8 xxxxx 2 xxxxx</td>
      <td style="text-align:center;">10 MIN</td>
    </tr>
    <tr>
      <td style="text-align:center;">2222</td>
      <td style="text-align:center;">MENU 2</td>
      <td style="text-align:center">94</td>
      <td style="text-align:center;">5 xxxx 8 xxxxx 2 xxxxx</td>
      <td style="text-align:center;">10 MIN</td>
    </tr>
    <tr style="background: #E9F7EF;">
      <td style="text-align:center ;">3333</td>
      <td style="text-align:center;">MENU 3</td>
      <td style="text-align:center">67</td>
      <td style="text-align:center;">5 xxxx 8 xxxxx 2 xxxxx</td>
      <td style="text-align:center;">10 MIN</td>
    </tr>
    <tr>
      <td style="text-align:center;">2222</td>
      <td style="text-align:center;">MENU 4</td>
      <td style="text-align:center">94</td>
      <td style="text-align:center;">5 xxxx 8 xxxxx 2 xxxxx</td>
      <td style="text-align:center;">10 MIN</td>
    </tr>
    <tr style="background: #E9F7EF;">
      <td style="text-align:center ;">3333</td>
      <td style="text-align:center;">MENU 5</td>
      <td style="text-align:center">67</td>
      <td style="text-align:center;">5 xxxx 8 xxxxx 2 xxxxx</td>
      <td style="text-align:center;">10 MIN</td>
    </tr>
    <tr>
      <td style="text-align:center;">2222</td>
      <td style="text-align:center;">MENU 6</td>
      <td style="text-align:center">94</td>
      <td style="text-align:center;">5 xxxx 8 xxxxx 2 xxxxx</td>
      <td style="text-align:center;">10 MIN</td>
    </tr>
    <tr style="background: #E9F7EF;">
      <td style="text-align:center ;">3333</td>
      <td style="text-align:center;">MENU 7</td>
      <td style="text-align:center">xxxxxx xxxxxx x xxxxx x xxxxx</td>
      <td style="text-align:center;">5 xxxx 8 xxxxx 2 xxxxx</td>
      <td style="text-align:center;">10 MIN</td>
    </tr>
    <tr>
      <td style="text-align:center;">2222</td>
      <td style="text-align:center;">MENU 8</td>
      <td style="text-align:center">94</td>
      <td style="text-align:center;">5 xxxx 8 xxxxx 2 xxxxx</td>
      <td style="text-align:center;">10 MIN</td>
    </tr>
    <tr style="background: #E9F7EF;">
      <td style="text-align:center ;">3333</td>
      <td style="text-align:center;">MENU 9</td>
      <td style="text-align:center">xxxxxx xxxxxxxxx x xxxxxx xxxxxx</td>
      <td style="text-align:center;">5 xxxx 8 xxxxx 2 xxxxx</td>
      <td style="text-align:center;">10 MIN</td>
    </tr>
  </table>


	</div>
	<iframe class="footerp" src="foteroregano.html"style="width: 100%; height:150px;line-height: 0px; display:block" frameborder=0></iframe>
</body>
</html>